.link1{
    font-family: start;
    text-align: center;
    padding-top: 70px;
    font-size: 100px;
}
.link2{
    font-family: start;
    text-align: center;
    padding: 90px;
    font-size: 100px;
}
.link3{
    font-family: start;
    text-align: center;
    font-size: 100px;
    padding-bottom: 60px;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    color: rgb(4, 166, 187);
}
h2{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    text-align: center;
    line-height: 4rem;
    margin: 200px;
    color: rgb(4, 166, 187);
}
.link3:hover{
    color: rgb(23, 12, 128);
}
.link3:hover{
    color: rgb(65, 112, 61);
}
.styled {
    border: 0;
    line-height: 2.5;
    margin-left: 800px;
    padding: 0 20px;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: rgb(4, 166, 187);
    border-radius: 10px;
    background-color: #fff;
    background-image: linear-gradient(to top,
                                      rgba(30, 2, 133, 0.2),
                                      rgba(16, 19, 219, 0.2) 10%,
                                      rgba(68, 71, 235, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(68, 71, 235, 0);
}
.styled:hover {
    background-color: black;
    color: #fff;
}
.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
@media screen and (max-width: 480px) {
    .link1 {
      font-size: 40px;
  }
  .link2 {
    font-size: 32px;
}
    .link3{
    font-size: 25px;
}
    h1{
    font-size: 25px;
}
h2{
    font-size: 10px;
}

    
}
@media screen and (min-width: 600px){
  body{
    font-size: 98px;
  }
}